@charset "utf-8";

main {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: honeydew;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

article div {
    width: 200px;
    height: 400px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
}

img {
    width: 100%;
}

article div h2{
    text-align: center;
    font-weight: bold;
}
article div h6{
    text-align: justify;
}

article div img{
    border-radius: 8px;
}

article div p{
    text-align: right;
}

nav ul li {
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 6px; 
}

nav ul {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gird-gap: 10px;
    text-align: center;
}

footer, header {
    text-align: center;
}

button {
    border: 1px solid gray;
}

table, td, tr ,th {
    border: 1px solid gray;
    padding: 5px;
}